<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <policy>CASA Tier 2 (fallback OWASP Top 10)</policy>
  <scanner>
    <level>MEDIUM</level>
    <strength>HIGH</strength>
  </scanner>
</configuration>
